<p id="notice"><%= notice %></p>

<h1>Admins</h1>

<table>
  <thead>
    <tr>
      <th>Uuid</th>
      <th>Roleid</th>
      <th>Username</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Language</th>
      <th>Disabled</th>
      <th>Loginattempts</th>
      <th>Email</th>
      <th>Encrypted password</th>
      <th>Confirmation token</th>
      <th>Remember token</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.uuid %></td>
        <td><%= admin.roleid %></td>
        <td><%= admin.username %></td>
        <td><%= admin.firstname %></td>
        <td><%= admin.lastname %></td>
        <td><%= admin.language %></td>
        <td><%= admin.disabled %></td>
        <td><%= admin.loginattempts %></td>
        <td><%= admin.email %></td>
        <td><%= admin.encrypted_password %></td>
        <td><%= admin.confirmation_token %></td>
        <td><%= admin.remember_token %></td>
        <td><%= link_to 'Show', admin %></td>
        <td><%= link_to 'Edit', edit_admin_path(admin) %></td>
        <td><%= link_to 'Destroy', admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin', new_admin_path %>
