<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for @admin do |form| %>
    <%= render partial: '/admins/form', object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  <% end %>
</div>
