<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @admin.uuid %>
</p>

<p>
  <strong>Roleid:</strong>
  <%= @admin.roleid %>
</p>

<p>
  <strong>Username:</strong>
  <%= @admin.username %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @admin.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @admin.lastname %>
</p>

<p>
  <strong>Language:</strong>
  <%= @admin.language %>
</p>

<p>
  <strong>Disabled:</strong>
  <%= @admin.disabled %>
</p>

<p>
  <strong>Loginattempts:</strong>
  <%= @admin.loginattempts %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>

<p>
  <strong>Encrypted password:</strong>
  <%= @admin.encrypted_password %>
</p>

<p>
  <strong>Confirmation token:</strong>
  <%= @admin.confirmation_token %>
</p>

<p>
  <strong>Remember token:</strong>
  <%= @admin.remember_token %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
