<p id="notice"><%= notice %></p>

<p>
  <strong>Admin:</strong>
  <%= @admin_watchdog.admin_id %>
</p>

<p>
  <strong>Logintime:</strong>
  <%= @admin_watchdog.logintime %>
</p>

<p>
  <strong>Ipaddress:</strong>
  <%= @admin_watchdog.ipaddress %>
</p>

<p>
  <strong>Lastvisit:</strong>
  <%= @admin_watchdog.lastvisit %>
</p>

<%= link_to 'Edit', edit_admin_watchdog_path(@admin_watchdog) %> |
<%= link_to 'Back', admin_watchdogs_path %>
